.header{
    height: 10%;
    display: flex;
    justify-content: center;
}
#clockcontainer{
    background: url("clock.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto; 
    height: 48vh;
    width: 60vw;
    position: relative;
}
#hourhand {
    height: 16.3%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 33%;
    left: 49.8%;
    border-radius: 6px;
    transform-origin: bottom;
}
#minhand {
    height: 21.5%;
    width: 1%;
    background-color: black;
    position: absolute;
    top: 28%;
    left: 49.9%;
    border-radius: 6px;
    transform-origin: bottom;
}  
#sechand {
    height: 27%;
    width: 0.7%;
    background-color: red;
    position: absolute;
    top: 23%;
    left: 50.1%;
    border-radius: 6px;
    transform-origin: bottom;
}
